.dp{
    height: 20px;
    margin-top: 5px;
    margin-right: 7px;
    margin-bottom: 7px;
    width: 20px;
    object-fit: cover;
    border-radius: 50%;
}

/* More specific selector for suggestions */
.suggestions-container .dp {
    margin-top: 5px !important;
}

.post-img{
    width: 300px;
}
