.story {
    height: 70px;
    display: flex;
    padding: 10px;

}

.gradient-border{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff00ff, #ff6600, #ffcc00);
}

.story-dp{
    width: 40px;
    height: 40px;
}

.text-truncate{
    width: 50px;
}