.suggestions-container {
  width: 80%;
}

.suggestions-container h5 {
  font-size: 1rem;
}

.suggestions-container .dp {
  height: 20px;
  margin-top: 0x;
  margin-right: 7px;
  margin-bottom: 7px;
}

.suggestions-container .rounded-circules {
  border-radius: 50%;
} 